
<table style="width:100%">
<tr>
<th> Name</th>
<th> Birthday</th>
<th> Color </th>
<th> Sex </th>
<th> Description </th>
</tr>

<tr>
<td> <%= @cats.name %> </td>
<td> <%= @cats.birth_date %> </td>
<td> <%= @cats.color %> </td>
<td> <%= @cats.sex %> </td>
<td> <%= @cats.description %> </td>
</tr>
</table>

