<table>
<th> Name</th>
    <tr> <%= @cats.name %> </tr>
<th> Birthday</th>
    <tr> <%= @cats.birth_date %> </tr>
<th> Color </th>
    <tr> <%= @cats.color %> </tr>
<th> Sex </th>
    <tr> <%= @cats.sex %> </tr>
<th> Description </th>
    <tr> <%= @cats.description %> </tr>
</table>